
# khai báo cổng mà node js sẽ lắng nghe
PORT=4000

# thông tin kết nối MySQL
# DB_HOST: máy chủ sql nằm trên máy tính của bạn
# DB_USER: tài khoản mặc định cao nhất
# DB_PASSWORD: để trống nếu root chưa đặt mật khẩu
# DB_NAME: tên database sẽ kết nối
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=fashion_shop

# là chìa khóa chiếm quyền quản trị
# nếu ai đó có mã này họ có thể thay đổi và xóa bỏ hoàn toàn database
# nếu là dự án thật tuyệt đối không được đẩy lên github
JWT_SECRET=change-this-to-a-long-random-secret

